body {
    background-color: brown;
}
h1 {
    font-size: 50px;
    font-style: bold;
    background-color: black;
    border-radius: 15px;
}

article {
    position: left;
    background-color: white;
    border-radius: 5px;
}